/* ================================================================ */
/* ========================= START global ========================= */
* {
    box-sizing: border-box;
    border-color: #333;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 0px solid black; /* for test */
    display: block;
    margin: 0px auto;
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

    a:hover {
        color: #f4511e;
    }

p {
    margin-top: 0px;
}

figure {
    margin: 0px;
    padding: 0px;
}
/* ========================= END global ========================= */
/* ========================= START header ========================= */
#container {
    min-width: 350px;
    max-width: 1900px;
    display: inline-block;
    text-align: left;
}

.container__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.brand {
    padding-top: 40px;
    padding-left: 65px;
    width: 100px;
    height: auto;
}


/* START header/nav ========================= */
.nav {
    display: inline-block;
}

.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 300px;
}

.nav__list__item {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.nav__list__item__text {
    display: inline-block;
    padding: 45px 0px 25px 0px;
    width: 150px;
    border-top: 4px solid white;
    font-size: 18px;
}

    .nav__list__item__text:hover {
        width: 150px;
        border-top: 4px solid #0065fc;
    }
/*for next step with Javascript
.nav__list__item--on {
    color: #0065fc;
    border-top: 4px solid #0065fc;
}

.nav__list__item--off {
    color: black;
    border-top: 4px solid white;
}
*/
/* END header/nav ========================= */
/* ========================= END header ========================= */


/* ======================== START search ========================*/
.bloc-search {
    padding: 0% 3% 0% 3%;
}

.bloc-search__header-h1 {
    font-size: 22px;
    margin-bottom: 8px;
    margin-top: 15px;
    font-weight: 700;
}

.bloc-search__form__group {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    height: 55px;
}

.bloc-search__form__group__item__icon, .bloc-search__form__group__item__inputA, bloc-search__form__group__item__submit--desk {
    margin: 0;
    border: 1px solid #f2f2f2;
}

.bloc-search__form__group__item__icon {
    color: black;
    width: 50px;
    display: inline-block;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-left: 17px;
    border-right: 0;
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
}

.bloc-search__form__group__item__inputA {
    width: 230px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 18px;
    border-left: 0;
    border-right: 0;
}

.bloc-search__form__group__item__submit--desk {
    font-size: 18px;
    font-weight: 700;
    color: white;
    width: 130px;
    background-color: #0065fc;
    border-left: 0;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    border: none;
}

.bloc-search__form__group__item__submit--phon {
    display: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    width: 50px;
    background-color: #0065fc;
    border-left: 0;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    border: none;
}

/* filter */
.bloc-search__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 32px;
    font-size: 18px;
    font-weight: 700;
}

.bloc-search__filter__head {
    margin-bottom: 20px;
}

.bloc-search__filter__head__desc {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    padding: 15px 5px 0px 8px;
}

.bloc-search__filter__item {
    height: 50px;
    margin-bottom: 20px;
}

.bloc-search__filter__item__btn {
    display: flex;
    height: 50px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: none;
}

.bloc-search__filter__item__btn__icon {
    position: relative;
    display: block;
    left: 25px;
    padding-top: 15px;
    color: #0065fc;
    width: 50px;
    height: 50px;
    background-color: #deebff;
    border-radius: 25px 25px 25px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.bloc-search__filter__item__btn__text {
    display: block;
    height: 50px;
    padding: 15px 20px 0px 34px;
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 0px 25px 25px 0px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.bloc-search__filter__item__btn__submit-desk:hover {
}

.bloc-search__filter__item__btn__text:hover {
    color: #f4511e;
}

.bloc-search-info {
    display: flex;
}
    .bloc-search-info div {
        display: inline-block;
    }

        .bloc-search-info div i {
            padding-top: 1px;
            font-size: medium;
        }

    .bloc-search-info div span {

    }

.bloc-search-info__icon {
    display: inline-block;
    margin-left: 5px;
    width: 24px;
    height: 24px;
    border: 2px solid #f2f2f2;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #0065fc;
    font-weight: 800;
    text-align: center;
}

.bloc-search-info__text {
    display: inline-block;
    padding-top: 4px;
    padding-left: 10px;
}
/* ======================== END search ========================*/


/* ======================== START main ========================*/
.main {
    margin-top: 30px;
    padding: 0% 3% 0% 3%;
}

.bloc100pct {
    display: block;
    width: 100%;
}

.display-more {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    padding-top: 5px;
}

.room01 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}

.bloc100pct {
    display: block;
    width: 100%;
}

.display-more {
    padding: 10px;
}

.room02 {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
}

.section-FAM01-T01 { /* HEBERGEMENT */
    margin-bottom: 40px;
    padding: 1% 0% 1% 2%;
}

.aside-FAM01-T01 { /* LES PLUS POPULAIRES */
    margin-bottom: 40px;
    padding: 1% 2.5% 0% 2.5%;
}

.section-FAM01-T01, .aside-FAM01-T01 { /* HEBERGEMENT    LES PLUS POPULAIRES */
    background-color: hsl(0, 0%, 90%);
    border-radius: 25px;
    padding-top: 25px;
}


.aside-FAM01-T01 {
    width: 31.5%;
}

.section-FAM01-T01 {
    width: 65.5%;
}

.section-FAM01-T01__header__title, .section-FAM01-T02__header__title, .aside-FAM01-T01__header__title {
    width: 100%;
    display: block;
}

.aside-FAM01-T01__header {
    display: flex;
    justify-content: flex-start;
    width:100%;
}

.aside-FAM01-T01__header__title {
    display: inline;
}

.aside-FAM01-T01__header i {
    display: block;
    font-size: 24px;
    padding-top: 20px;
}

.section-FAM01-T01__group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    object-fit: fill;
    padding: 5px 0px 0px 0px;
}

.section-FAM01-T01__group__card, .section-FAM01-T02__group__card, .aside-FAM01-T01__group__card {
    box-shadow: rgb(200 200 200) 5px 5px 5px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 25px;
    background-color: white; /*for ghost border*/
}

.section-FAM01-T01__group__card {
    display: block;
    min-width: 245px;
    margin: 0px 4% 4% 0px;
    width: 25%;
}

.aside-FAM01-T01__group__card { /* specific for Les plus populaires */
    display: block; /* no flex here because space end after inline element : different width for image */
    min-width: 250px;
    margin-bottom: 30px;
}

.section-FAM01-T01__group__card__link, .section-FAM01-T02__group__card__link, .aside-FAM01-T01__group__card__link {
    display: block;
}

.aside-FAM01-T01__group__card__link {
    display: flex;
}

.section-FAM01-T01__group__card__img { /* specific for Hebergement */
    display: block;
    border-radius: 21px 21px 0px 0px;
    width: 100%;
    max-width: 350px;
    height: 120px;
    object-fit: cover;
}

.aside-FAM01-T01__group__card__img {
    display: inline-block;
    border-radius: 21px 0px 0px 21px;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.section-FAM01-T01__group__card__text {
    display: block;
    background-color: white;
    width: 100%;
    padding: 4px;
    border-radius: 0px 0px 21px 21px;
    padding-left: 3%;
}

.aside-FAM01-T01__group {
    padding: 5px 0px 0px 0px;
}

.aside-FAM01-T01__group__card__col1 {
    display: inline-block;
    width: 40%;
    height: 135px;
}

.aside-FAM01-T01__group__card__col2 {
    display: inline-block;
    vertical-align: top;
    width: 54%;
    height: 135px;
    border-radius: 0px 0px 21px 21px;
    padding-left: 10px;
}

.aside-FAM01-T01__group__card__col2__line1 {
    display: block;
    height: 115px;
    vertical-align: top;
}

.aside-FAM01-T01__group__card__col2__line2 {
    display: block;
    height: 20px;
    vertical-align: bottom;
}

.aside-FAM01-T01__group__card__col1__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 21px 0px 0px 21px;
    min-width: 100px;
}

.aside-FAM01-T01__group__card__col2__line1__title {
    display: block;
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.aside-FAM01-T01__group__card__col2__line1__offer {
    display: inline-block;
    font-size: 15px;
    padding: 7px 0px 0px 0px;
}

.aside-FAM01-T01__group__card__col2__line1__price {
    display: inline-block;
    font-size: 15px;
}

.aside-FAM01-T01__group__card__col2__line1__currency {
    display: inline-block;
    font-size: 15px;
}

.aside-FAM01-T01__group__card__col2__line2__star {
    display: block;
    color: #0065fc;
    font-size: 12px;
    margin: -1px;
}

.aside-FAM01-T01__group__card__text {
    background-color: white;
    padding: 4px;
    border-radius: 0px 0px 21px 21px;
    display: inline-block;
    vertical-align: top;
}

.aside-FAM01-T01__group__card__text__star {
    background-color: white;
    padding: 4px;
    border-radius: 0px 0px 21px 21px;
    display: inline-block;
    vertical-align: bottom;
    color: #0065fc;
    font-size: 12px;
    margin: -1px;
}

.section-FAM01-T02__group__card__text {
    display: inline-block;
    background-color: white;
    padding: 4px;
    border-radius: 0px 0px 21px 21px;
}

    .section-FAM01-T01__group__card__text h4, .section-FAM01-T02__group__card__text h4, .aside-FAM01-T01__group__card__text h4 {
        padding: 0px 0px 5px 5px;
        margin: 0px;
    }

    .section-FAM01-T01__group__card__text p, .section-FAM01-T02__group__card__text p, .aside-FAM01-T01__group__card__text p {
        padding: 0px 0px 0px 5px;
        margin: 0px;
        font-size: 15px;
        line-height: 20px;
    }

        .section-FAM01-T01__group__card__text p i, .aside-FAM01-T01__group__card__text p i {
            color: #0065fc;
            font-size: 12px;
            margin: -1px;
        }

        .section-FAM01-T01__group__card__text p span, .aside-FAM01-T01__group__card__text p span {
            font-weight: 700;
        }


/* ACTIVITE */

.section-FAM01-T02 { 
    margin-bottom: 50px;
    border: 0px solid red;
    width: 100%;
}

.section-FAM01-T02__group {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.section-FAM01-T02__group {
    border: 0px solid red;
}

/*  COMON Col 1 2 3 4 */
.section-FAM01-T02__group__col1, .section-FAM01-T02__group__col2, .section-FAM01-T02__group__col3, .section-FAM01-T02__group__col4 {
    display: inline-block;
    width: 23%;
    border: 0px solid blue;
}

/*  START Col 1 and Col 3*/
.section-FAM01-T02__group__col1, .section-FAM01-T02__group__col2, .section-FAM01-T02__group__col3, .section-FAM01-T02__group__col4 {
    display: inline-block;
    width: 23%;
    border: 0px solid red;
}

.section-FAM01-T02__group__col1__card, .section-FAM01-T02__group__col3__card {
    display: inline-flex;
    border: 0px solid blue;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.section-FAM01-T02__group__col1__card__link, .section-FAM01-T02__group__col3__card__link {
    display: inline-block;
    border: 0px solid blue;
}

.section-FAM01-T02__group__col1__card__fig, .section-FAM01-T02__group__col3__card__fig {
    display: block;
    border-radius: 21px 21px 21px 21px;
    box-shadow: rgb(200 200 200) 5px 5px 5px;
    border-radius: 25px;
}

    .section-FAM01-T02__group__col1__card__fig h4, .section-FAM01-T02__group__col3__card__fig h4 {
        padding-left: 7%;
        padding-bottom: 15px;
        font-size: 16px;
    }

.section-FAM01-T02__group__col1__card__fig__img, .section-FAM01-T02__group__col3__card__fig__img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 21px 21px 0px 0px;
    border: 0px solid blue;
}

.section-FAM01-T02__group__col1__card__fig__text, .section-FAM01-T02__group__col3__card__fig__text {
    border: 0px solid blue;
}
/*  END Col 1 and Col 3*/


/*  START Col 1 and Col 3*/
.section-FAM01-T02__group__col2__line1, .section-FAM01-T02__group__col4__line1 {
    display: block;
}

.section-FAM01-T02__group__col2__line2, .section-FAM01-T02__group__col4__line2 {
    display: block;
}

.section-FAM01-T02__group__col2__line2__card, .section-FAM01-T02__group__col4__line2__card {
    display: flex;
    border: 0px solid blue;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-top: 15px;
}

.section-FAM01-T02__group__col2__line1__card__link, .section-FAM01-T02__group__col2__line2__card__link, .section-FAM01-T02__group__col4__line1__card__link, .section-FAM01-T02__group__col4__line2__card__link {
    display: block;
    border: 0px solid blue;
}

.section-FAM01-T02__group__col2__line1__card__fig, .section-FAM01-T02__group__col2__line2__card__fig, .section-FAM01-T02__group__col4__line1__card__fig, .section-FAM01-T02__group__col4__line2__card__fig {
    display: block;
    box-shadow: rgb(200 200 200) 5px 5px 5px;
    border-radius: 25px;
    padding-bottom: 0px;
}

    .section-FAM01-T02__group__col2__line1__card__fig h4, .section-FAM01-T02__group__col2__line2__card__fig h4, .section-FAM01-T02__group__col4__line1__card__fig h4, .section-FAM01-T02__group__col4__line2__card__fig h4 {
        padding-left: 7%;
        padding-bottom: 16px;
        margin-top: 16px;
        font-size: 16px;
        text-overflow: ellipsis;
    }

.section-FAM01-T02__group__col2__line1__card__fig__img, .section-FAM01-T02__group__col4__line2__card__fig__img {
    display: block;
    width: 100%;
    height: 198px;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;
    border: 0px solid blue;
}

.section-FAM01-T02__group__col2__line2__card__fig__img, .section-FAM01-T02__group__col4__line1__card__fig__img {
    display: block;
    width: 100%;
    height: 121px;
    object-fit: cover;
    object-position: top;
    border-radius: 21px 21px 0px 0px;
    border: 0px solid blue;
}
/*  END Col 1 and Col 4*/
/* ======================== END main ========================*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    padding: 25px 50px 25px 50px;
    background-color: hsl(0, 0%, 90%);
}

.footer__cut {
    display: block;
    min-width: 31%;
    padding-bottom: 20px;
}

.footer__cut__group {
}

.footer__cut__group__item {
    line-height: 32px;
    padding-right: 20px;
}

.footer__cut__group--title {
    font-weight: 700;
}


/* MEDIA QUERIES for tablet */
@media screen and (max-width: 991px) and (min-width: 767px) {

    /* LES PLUS POPULAIRES */
    .aside-FAM01-T01 {
        width: auto;
        min-width: 100%;
    }

    .aside-FAM01-T01__group {
        padding: 5px 20% 0 20%;
    }

    .aside-FAM01-T01__group__card {
        display: block;
    }

    .aside-FAM01-T01__group__card__col1 {
        height: 150px;
        width: 300px;
    }
    .aside-FAM01-T01__group__card__col1__img {
        height: 100%;
        width: 240px;
    }

    .aside-FAM01-T01__group__card__col2 {
        padding-left: 2%;
    }

    .aside-FAM01-T01__group__card__col2__line1__title {
        display: block;
        padding: 30px 0px 10px 0px;
    }

    .aside-FAM01-T01__group__card__col2__line1__offer {
        padding: 12px 0px 0px 0px;
    }

    /* HEBERGEMENTS */

    .section-FAM01-T01__group__card__text {
        text-align: center;
        height: 100px;
        padding-top: 20px;
    }

    .section-FAM01-T01 {
        width: 100%;
    }

    .section-FAM01-T01__group {
        margin: 0px 22% 5% 20%;
    }

    .section-FAM01-T01__group__card {
        width: 100%;
    }

    .section-FAM01-T01__group__card__img {
        max-width: 100%;
    }

    /* ACTIVITES */

    .section-FAM01-T02__group__col1__card__fig h4, .section-FAM01-T02__group__col3__card__fig h4 {
        padding-left: 3%;
    }

    .section-FAM01-T02__group__col2__line1__card__fig h4, .section-FAM01-T02__group__col2__line2__card__fig h4, .section-FAM01-T02__group__col4__line1__card__fig h4, .section-FAM01-T02__group__col4__line2__card__fig h4 {
        padding-left: 3%;
    }

}


/* MEDIA QUERIES for mobile phone */

@media screen and (max-width: 767px) {
    
    .main {
        margin-top: 30px;
        padding: 0px;
    }

    .brand {
        padding-top: 20px;
        padding-left: 0px;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .nav {
        display: block;
        width: 100%;
    }

    .nav__list {
        display: inline-block;
        width: 100%;
    }

    .nav__list__item {
        display: inline-block;
        width: 49.5%;
    }

    .nav__list__item__text {
        display: inline-block;
        width: 100%;
        padding: 25px 0px 15px 0px;
        border-bottom: 4px solid white;
    }

        .nav__list__item__text:hover {
            width: 100%;
            border-top: none;
            border-bottom: 4px solid #0065fc;
        }

    .bloc-search {
        padding: 0% 4% 0% 4%;
    }
    .bloc-search__filter {
        margin-top: 16px;
        width: 100%;
    }
    

    .bloc-search__form__group__item__submit--desk {
        display: none;
    }

    .bloc-search__form__group__item__submit--phon {
        display: inline;
    }

    .bloc-search__filter__head {
        width: 100%;
    }


    /* LES PLUS POPULAIRES */

    .aside-FAM01-T01 {
        background-color: #f2f2f2;
        border-radius: 0px;
        width: auto;
        min-width: 100%;
        margin-bottom: 0px;
        padding: 1% 4% 2.5% 4%;
    }

    .aside-FAM01-T01__group__card__col2 {
        /*width: 54%;
        text-align: center;*/
        padding-left: 4%;
    }

    .aside-FAM01-T01__group__card {
        margin-bottom: 15px;
        display: block;
    }


    /* HEBERGEMENTS */

    .section-FAM01-T01 {
        width: 100%;
        margin-bottom: 10px;
        padding: 1% 4% 2.5% 4%;
    }

    .section-FAM01-T01__group__card {
        width: 100%;
        margin: 0px 0% 4% 0px;
    }

    .section-FAM01-T01__group__card__img {
        max-width: 100%;
    }

    .section-FAM01-T01 {
        background-color: white;
    }

    .aside-FAM01-T01__group__card__col1 {
        height: 135px;
        width: 40%;
    }
    .display-more {
        padding-top: 20px;
    }


    /* ACTIVITES */

    .section-FAM01-T02 {
        padding: 1% 4% 2.5% 4%;
        margin-bottom: 0px;
    }

    .section-FAM01-T02__group {
        display: inline;
    }

    .section-FAM01-T02__group__col1__card__fig h4, .section-FAM01-T02__group__col3__card__fig h4 {
        padding-left: 4%;
    }

    .section-FAM01-T02__group__col2__line1__card__fig h4, .section-FAM01-T02__group__col2__line2__card__fig h4, .section-FAM01-T02__group__col4__line1__card__fig h4, .section-FAM01-T02__group__col4__line2__card__fig h4 {
        padding-left: 4%;
    }

    .section-FAM01-T02__group__col1__card__fig__img, .section-FAM01-T02__group__col3__card__fig__img, .section-FAM01-T02__group__col2__line1__card__fig__img, .section-FAM01-T02__group__col2__line2__card__fig__img, .section-FAM01-T02__group__col4__line1__card__fig__img, .section-FAM01-T02__group__col4__line2__card__fig__img {
        height: 135px;
    }

    .section-FAM01-T02__group__col1__card, .section-FAM01-T02__group__col3__card {
        width: 100%;
    }

    .section-FAM01-T02__group__col1, .section-FAM01-T02__group__col2, .section-FAM01-T02__group__col3, .section-FAM01-T02__group__col4 {
        display: inline-block;
        width: 100%;
    }


    .footer__cut {
        display: block;
        width: 100%;
        padding-bottom: 20px;
    }

}
